{% extends "app/base.html" %}
{% load static %}
{% block  title %}Buy Now{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyle">
            <li class="d-grid"><a href="#" class="btn btn-primary">Password Change Done</a></li>
        </ul>
    </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Change Successfully !!!</h3>
        <div>
            <iframe src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDVsY25uZGUxeDI2cHZwdm9hMHRzM3BwZ3l0anE3a3ZlYXh0aWRuYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L0O8oYKdm69xAXuBzd/giphy.gif" width="200" height="500" frameBorder="10"
            class="giphy-embed" ></iframe>
        </div>
        </div>
    </div>
</div>
{% endblock main-content%}