{% extends "app/base.html" %}
{% load static %}
{% block  title %}Login{% endblock title %}
{% block main-content %}
<div class"container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3"> 
        <h3>Reset Password Completed!!</h3>
        <hr>
        <div>
            <iframe src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDVsY25uZGUxeDI2cHZwdm9hMHRzM3BwZ3l0anE3a3ZlYXh0aWRuYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L0O8oYKdm69xAXuBzd/giphy.gif" width="200" height="500" frameBorder="10"
            class="giphy-embed" ></iframe>
        </div>
        </div>
    </div>
</div>
{% endblock main-content %}